- name: Deploy
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.SERVER_HOST }}
    username: ubuntu
    key: ${{ secrets.SERVER_SSH_KEY }}
    script: |
      cd once-again
      git pull origin main
      npm install
      
